<div class="navbar-box">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', pages_about_path %>
    <%= link_to 'Gallery', pages_gallery_path %>
    <%= link_to 'Contact', pages_contact_path%>
    <%= link_to 'Decking', pages_decking_path%>
    <%= link_to 'Patio', pages_patio_path%>
    <%= link_to 'Fence', pages_fence_path%>

</div>