<div class="banner">
    <div class="banner-overlay">
        <%= link_to pages_new_path, class:"quote-btn" do %>
            <h2>Get a Quote</h2>
        <% end %>
    </div>
</div>

<div class="about-container">
    <div class="about-content-box">
        <i class="fas fa-users icons"></i>
        <h2>Our Team</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente ipsa cumque totam enim voluptatum temporibus alias perferendis autem similique qui commodi vel, maiores aspernatur reiciendis velit culpa ad sint sit.</p>
    </div>
    <div class="about-content-box">
        <i class="fas fa-pencil-ruler icons"></i>
        <h2>Our Services</h2>
        <div class="services-list">
                <%= link_to pages_decking_path, class:"services-items" do%>
                    <li><h3>Decking Design</h3></li>
                <% end %>
                 <%= link_to pages_decking_path, class:"services-items" do%>
                    <li><h3>Budget Decking</h3></li>
                 <% end %>
                 <%= link_to pages_decking_path, class:"services-items"  do%>
                    <li><h3>Softwood Decking</h3></li>
                 <% end %>
                 <%= link_to pages_decking_path, class:"services-items"  do%>
                    <li><h3>Hardwood Decking</h3></li>
                 <% end %>
                 <%= link_to pages_decking_path, class:"services-items"  do%>
                    <li><h3>Composite Decking</h3></li>
                 <% end %>
              
        </div>
    </div>
    <div class="about-content-box right-box">
        <i class="fas fa-thumbs-up icons"></i>
        <h2>Our Goal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellendus libero quas dolorum numquam aspernatur nostrum? Vitae quia sequi doloribus ipsa quo necessitatibus, rem fugit, inventore at esse accusamus blanditiis a omnis nemo qui tenetur consequuntur provident! Obcaecati, dolores quo?</p>
    </div>
</div>
<div class="types-of-decking">
</div>